body {
  background-color: #7FDBFF;
}

.container {
  border: 3px solid blue;
  background-color: yellow;
  color: blue;
  padding: 10px;
  margin: 12px;
  width: 90%;
}

.row {
  padding: 5px;
}

.jumbotron {
  color: navy;
  font-size: 32pt;
  font-weight: bold;
}

#age-form {
  font-size: 20pt;
  color: orange;
  padding-left: 30px;
}

#solution {
}
